doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/stylesReset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.10.1.js')
    script(type='text/javascript', src='/javascripts/script.js')
  body
    header
      div.logo
        a(href="/")
          img(src="/images/Tap25.gif", width="125", height="125")
    block content
